.page-title {
  margin: auto;
  font-size: 2em;
  width: 50%;
  text-align: center;
}

a:hover {
  text-decoration: none;
  color: #3A3636;
}

a {
  color: black;
}

.comment-card {
    background: #CCFFFF;
}

.comment-header {
    background: #99FFFF;
}

.course-detail-courseCode {
  font-size: 2em;
}

.course-detail-courseName {
  font-size: 1.8em;
}

.rating {
  position:absolute;
  margin-left: 12px;
  margin-top: 10px;
}