.page-title {
  margin: auto;
  font-size: 2em;
  width: 50%;
  text-align: center;
}

a:hover {
  text-decoration: none;
  color: #3A3636;
}

a {
  color: black;
}

.comment-card {
    background: #CCFFFF;
}

.comment-header {
    background: #99FFFF;
}

.course-detail-courseCode {
  font-size: 2em;
}

.course-detail-courseName {
  font-size: 1.8em;
}

.rating {
  position:absolute;
  margin-left: 12px;
  margin-top: 10px;
}

.discuss-filter{
  font-size: 0.8em;
  margin-top: 5px;
}

.scrollbar {
  overflow: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}
.reply {
  font-size: 1.5em;
}

.cardbody{
  background-color: #99FFFF;
}

.modal-header, .card-header {
  background-color: #3399FF;
}

.modal-body {
  background-color: #C0D9FF;
}

.comment-for-course:hover {
  cursor: pointer;
  background-color: #C5D2E6;
}

.submit-comment-button{
  backgroundColor: #B7AC11;
  color: #B7AC11;
}