Button {
  display: inline-block;
  border-radius: 4px;
  background-color: #1eb0f4;
  border: none;
  color: #ffffff;
  text-align: justify;
  font-size: 20px;
  padding: 5px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

Button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

Button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

Button:hover span {
  padding-right: 25px;
}

Button:hover span:after {
  opacity: 1;
  right: 0;
}

Input {
  width: 30%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}
