.tooltip {
  padding: 0;
}
.tooltip button {
  padding: 0.3125rem 0.5625rem;
  appearance: none;
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.tooltip button .icon {
  filter: invert(100%);
}
