/* @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
input[type="file"] {
  color: rgba(0, 0, 0, 0);
}
.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
} */


.page-title {
  margin: auto;
  font-size: 3.5em;
  text-align: left;
}

a:hover {
  text-decoration: none;
  color: #3a3636;
}

a {
  color: black;
}

.comment-card {
  background: #ccffff;
}

.comment-header {
  background: #99ffff;
}

.course-detail-courseCode {
  font-size: 2em;
}

.course-detail-courseName {
  font-size: 1.8em;
}

.rating {
  position: absolute;
  margin-left: 18px;
  margin-top: 15px;
}

.discuss-filter {
  font-size: 0.8em;
  margin-top: 5px;
}

.scrollbar {
  overflow: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}
.reply {
  font-size: 1.5em;
}

.cardbody {
  background-color: #99ffff;
}

.modal-header,
.card-header {
  background-color: #3399ff;
}

.modal-body {
  background-color: #c0d9ff;
}

.comment-for-course:hover {
  cursor: pointer;
  background-color: #c5d2e6;
}

.submit-comment-button {
  background-color: #740cb1;
  color: #ffffff;
}

.background {
  /* background-image: url("https://wallpaper.dog/large/5535899.jpg"); */
  background-image: url("https://www.ppt-backgrounds.net/thumbs/home-simple-simple-galaxy-s4-177-photo-slides.jpeg");
  position: relative;
  background-color: rgb(191, 207, 214);
}

.container {
  width: 1120px;
  background-color: white;
  box-shadow: 400px 400px 800px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr {
  font-weight: 800;
  color: black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.small-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Moved From ComponentsStyle.css */
.navbar {
  background-image: url("https://wallpaper.dog/large/5535899.jpg");
  background-color: #1b0b3f;
  height: 80px;
  /* display: flex; */
  /* justify-content: start; */
  align-items: center;
}

.menu-bars {
  margin-right: 2rem;
  font-size: 2rem;
  background: none;
  position: absolute;
}

.login {
  position: absolute;
  right: 10px;
  font-size: 2rem;
  background: none;
}

.login-from {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  font-size: 2rem;
}

.nav-menu {
  z-index: 99 !important;
  background-image: url("https://wallpaper.dog/large/5535899.jpg");
  background-color: #1b0b3f;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  /* background-image: url("https://wallpaper.dog/large/5535899.jpg"); */
  background-color: #605677;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-image: url("https://wallpaper.dog/large/5535899.jpg");
  background-color: #1b0b3f;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

/* span {
  margin-left: 16px;
} */

/* PlannerIndexComponents style */

.planner-search input {
  margin-top: 20;
  width: 180px;
  height: 30px;
  font-size: 0.7em;
  margin-left: 5px;
}

.sharetimetable {
  width: 90vw ;   /* Occupy the 90% of the screen width */
  max-width: 90vw;
}

/* SharetimetableComponents style */
.share-timetable {
  font-size: 1.2em;
}

.title {
  text-align: center;
  position: absolute;
	left: 0;
	right: 0;
	margin: auto;
  font-size: 3em;
  color:rgb(163, 162, 175);
}

/* From calendar.css */
.calendar {
  -ms-transform: scale(1, 0.5); /* IE 9 */
  transform: scale(1, 0.7); /* Standard syntax */
}


/* From PlannerSearchCourseStyle.css */
.dropdown {
  position: relative;
  color: #333;
  cursor: default;
}

.dropdown .arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: 0.3rem;
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

.dropdown .arrow.open {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.dropdown .selected-value input {
  line-height: 1.5;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
  width: 100%;
}

.dropdown .options {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.dropdown .options.open {
  display: block;
}

.dropdown .option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.dropdown .option.selected,
.dropdown .option:hover {
  background-color: #f2f9fc;
  color: #333;
}

/* From tooltipCSS.module.css */
.tooltip {
  padding: 0;
}
.tooltipbutton {
  padding: 0.3125rem 0.5625rem;
  appearance: none;
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.tooltipbuttonicon {
  filter: invert(100%);
}

